body {
  background-color: aquamarine;
}

h1 {
  text-align: center;
}

.container {
  width: 1152px;
  margin: 0 auto;
}

.categories {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: .5rem;
  margin-bottom: 1rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.product{
  background-color: pink;
  border: 8px solid bisque;
}

.product__description {
  padding: 1rem;
}

.product__image {
  max-width: 100%;
}

.product__title {
  font-size: 1.5rem;
  margin: 0;
}

.product__price {
  font-size: 1.5rem;
  margin: 0;
}